body {
    font-family: 'Underdog', cursive;
    background-color: #e5e6eb;
    text-align: center;
}

form, table {
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 65%;
}

input[type=text], input[type=submit], input[type=email], input[type=password] {
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: solid 1px #BFBDBD;
    box-shadow: 2px 2px 0 #828181 inset;
    padding-left: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=textarea] {
    width: 300px;
    height: 150px;
}

select {
    border-radius: 5px;
    width: 250px;
    border: solid 1px #BFBDBD;
    box-shadow: 2px 2px 0 #828181 inset;
    padding-left: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#title {
    width: 400px;
}

input[type=submit] {
    background-color: #E5E4E2;
    box-shadow: -1px 2px #FEFCFF inset;
    margin: 17px;
}

fieldset {
    border-radius: 8px;
    border:2px solid black;
}

legend, label, th, td, .link, h3 {
    padding: 12px;
}

h1 {
    padding: 5px;
}

table {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 40px;
}


td, th {
    border: 1px solid gray;
}

th {
    border-bottom: 2px solid black;
    background-color: #f4e6bf
}

tr:nth-child(4n+2) {
    background-color: #feffe7;
}

tr:nth-child(4n+3) {
    background-color: #ffffff;
}

tr:nth-child(4n+4) {
    background-color: #fffae3;
}

tr:nth-child(4n+5) {
    background-color: #ffffff;
}

tr img {
    margin-right: 50px;
}

.bold {
    font-weight: bold;
}

.note {
    border-radius: 5px;
    width: 500px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    margin-bottom: 35px;
}

.error {
    background-color: #F7E7DC;
    border: solid 2px #FAC3C6;
}

.success {
    background-color: #D6F4DD;
    border: solid 2px #BAF6C8;
}

ul {
    list-style-type:none;
    margin: 0px;
    padding: 20px;
    margin-bottom: 35px;
}

li {
    display:inline;
    margin: 10px;
    padding: 10px;
}

img {
    margin-left: 50px;
    /* padding: 10px; */
}

#header{
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #777;
  z-index: 1;
  font-size: 40px;
}

#header a {
  color: #fff;
  text-decoration: none
}

#content{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color:#ffffcc;
  position: fixed;
  top:0px;
  bottom:0px;
  width:100%;
}

#footer{
  background-color: #777;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.nav-fade li {
  background: #777;
  padding: 3px 8px;
  display: inline-block;
  transition: background .25s ease-in-out;
}

.nav-fade li:hover {
  background: #888;
}
